@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    background-color: #1b1b1b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.page-content{
    width: 864px;
    height: 424.44px;
    margin: 32px 0px 0px;
    padding: 0px 16px;
}

.featured-articles{
    /*width: 100vw;
    height: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-articles-title{
    font-size: 23.04px;
    margin-bottom: 20px;

}

.card{
    border: 1px solid #e2e2e2;
    border-radius: .5rem;
    padding: 16px;
    width: 408px;
    height: 192.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-category{
    font-size: 16px;
    margin-bottom: 8px;
}

.article-title{
    font-size: 19.2px;
    margin-bottom: 8px;
    width: 374.4px;
    height: 57.6px;
}

.article-description{
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}
